@charset "utf-8";
@import url('fonts.css');
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px !important;;}
.top30{margin-top:30px !important;;}
.top35{margin-top:35px !important;;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top115{margin-top:115px;}
.top120{margin-top:120px;}
.top150{margin-top:150px;}
.top220{margin-top:220px;}
.top195{margin-top:195px;}
.top210{margin-top:210px;}
.top240{margin-top:240px;}
.top280{margin-top:280px;}
.top350{margin-top:350px;}
.top395{margin-top:395px;}


.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom90{margin-bottom:90px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.bottom180{margin-bottom:180px;}
.bottom200{margin-bottom:200px;}
.bottom280{margin-bottom:280px;}




.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}


.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}

.pr0{padding-right:0;}
.pr5{padding-right:5px;}

.pl0{padding-left:0;}
.pl5{padding-left:5px;}

.container{width:1170px !important;}

.input100{width:100% !important;}

body{
	font-family: 'Lato', sans-serif;
}

a:hover{
	text-decoration: none !important;
}

.media-left,
.media-right,
.media-body {
	vertical-align: middle !important;
}

.relativo{
	position: relative;
}

input,
select,
textarea{
	min-height: 42px;
	color:#000;
	border-radius: 0 !important;
	font-size: 14px;
}

::-webkit-input-placeholder {
	color      : #000;
	font-family:"Lato Bold";
	font-size  : 15px;
}

:-moz-placeholder {
	color      : #000;
	font-family:"Lato Bold";
	font-size  : 15px;
}

::-moz-placeholder {
	color      : #000;
	font-family:"Lato Bold";
	font-size  : 15px;
}

:-ms-input-placeholder {
	color      : #000;
	font-family:"Lato Bold";
	font-size  : 15px;
}

.btn{
	border-radius: 0px;
}

.padding0{
	padding: 0px;
}

.fundo_formulario .fa{
	margin-top: 15px;
}

h1{

}

h1 span{

}

h2{
	font-size: 25px;
	color: #000;
	padding-bottom: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	background: url(../imgs/barra_pesonalizada.png) bottom left no-repeat;
}

h2 span{
}

h3 {
	font-size: 20px;
}

h3 span{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

h4 {
	margin-top: 30px;
	font-size: 58px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	line-height: 21px;
	text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.75);
}

h4 span{
	margin: 0;
	font-size: 23px;
}

.titulo_interno h4{
	font-size: 40px;
}

h5{

}

h5 span{
 font-size: 17px;
 color: #000;
}

h6 {

	/*font-weight  : 300;
	color          : #000;
	font-size      : 30px;
	text-decoration: underline: ;*/
}

h6 span{

}

p{
	font-weight: 300;
	font-size  : 20px;
	color      : #000;
	text-align : justify;
}

p span{
	font-family: 'Lato', sans-serif;
	font-weight: 900;

}

.font-futura{
	font-family: 'futura__condensed';
}
.lato_black{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

.lato_bold{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

.MyriadPro_Regular{
	font-family: 'MyriadPro-Regular';
}

.div_personalizada{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.scrollup {
	width:65px;
	height:65px;
	opacity: 0.5;
	position: fixed;
	bottom: 50px;
	right: 30px;
	display: none;
	text-indent: -9999px;
	background: url(../imgs/seta_up.png) no-repeat;
	z-index: 9999;
}

#appearance-select{
	cursor: pointer;
	-webkit-appearance: none;  /* Remove estilo padrão do Chrome */
	-moz-appearance: none; /* Remove estilo padrão do FireFox */
	appearance: none; /* Remove estilo padrão do FireFox*/
	background: url(../imgs/arrow_drown.png) no-repeat #d7d6d7;  /* Imagem de fundo (Seta) */
	background-position: 218px center;  /*Posição da imagem do background*/
	width: 250px; /* Tamanho do select, maior que o tamanho da div "div-select" */
	height:57px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
	border:0px;
}
/**
============================================
topo
============================================
*/
.topo{
	position: relative;
	z-index: 99;
	height: 160px;
	background: url(../imgs/bg_topo.png) top center no-repeat;
}

.lista-itens-carrinho h1 {
	font-size: 15px;
}

.menu_cat li a {
	overflow: hidden;
	width: 107px;
	height: 80px;
	text-align: center;
	font-size: 12px;
	line-height: 15px;
	color: #3c3834;
	background: url(../imgs/barra_lateral_topo.png) left 15px no-repeat;
	padding: 16px;
	margin-top: -4px;
}

.menu_cat li a:hover {
	margin-top: -4px;
	height: 80px;
	background: #e2cd2d url(../imgs/barra_lateral_topo.png) left no-repeat;
}

.btn_atendimento,.btn_atendimento:hover{
	border-radius: 0px;
	font-size: 16px;
	padding: 0px 27px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	background: #1f7aa9;
	color: #fff;
	cursor: none;
	margin-top: 3px;
}

.btn_atendimento span{
	font-family: 'Lato', sans-serif
}

.menu li a{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 17px;
	color: #000;
}

.menu .navbar-nav > li > a {
	margin-right: 29px;
	padding: 28px 1px 2px 1px;
}

.menu li:hover a,.menu li a.active,.menu li a:focus{
	border-bottom: 4px solid #373435;
	background: none;
}

.borda_carrinho{
	border-bottom: 1px solid #1F7AA9;
}

/**
============================================
topo
============================================
*/

/**
============================================
rodape
============================================
*/

.rodape{
	background : #192b39;
}

.rodape-preto{
	background :#000;
}

.rodape-preto h5{
	margin-top:10px;
	font-size  :15px;
	color      : #fff;
	font-weight: 400;
}

.telefone_rodape p{
	color: #fff;
}
.menu-rodape li a {
	color        : #fff;
	font-size    : 16px;
	font-weight  : 400;
	margin-right : 26px;
	text-shadow:5px 4px 3px #000000;
}
.fa-google-plus:before {
	color: #fff;
}
.menu-rodape li a:hover,
.menu-rodape li a.active{
	font-weight : 400;
	color: #ffc72a;
}

.menu-rodape {
	list-style : none;
	padding    : 0px;
}

.barra_branca {
	border-bottom  : 1px solid #fff;
}

.menu-rodape li {
	float : left;
}
/**
============================================
rodape
============================================
*/

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
	width   :100%;
	height  :659px;
	margin  :-88px auto;
	overflow:hidden;
	position: relative;
}

#content_slider {
	width      :1920px;
	height     :659px;
	overflow   :hidden;
	position   :absolute;
	margin-left:-960px;
	top        :0px;
	left       :50%;
}

#content-slider-1 .rsTabs {
	width: 120px;
	height: 24px;
	z-index: 9999;
	position: absolute;
	left: 905px;
	top: 456px;
	text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
}

#content-slider-1 .rsNavItem {
	background   : #fff;
	width        : 20px;/*retira bolinhas*/
	opacity      : 0.5;
	height       : 20px;/*retira bolinhas*/
	float        : left;
	margin-right : 10px;
	cursor       : pointer;
	border-radius: 50%;
	/*box-shadow: -2px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/
}

#content-slider-1 .rsNavSelected {
	opacity  : 1;
	background: #fff;
	/*box-shadow: -2px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
	-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/
}


/*arrow personalizados*/
#container_banner .rsArrowLeft {
	display: block;
	width: 40px;/*retira setas*/
	height: 40px;/*retira setas*/
	background: url(../imgs/arrow_left.png) center no-repeat;
	z-index: 99999;
	bottom: 83px;
	position: absolute;
	left: 850px;
}


#container_banner .rsArrowRight {
	display: block;
	width: 40px;/*retira setas*/
	height: 40px;/*retira setas*/
	background: url(../imgs/arrow_right.png) center no-repeat;
	z-index: 99999;
	bottom: 83px;
	position: absolute;
	right: 850px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/**


/**
============================================
HOME
============================================
*/
.bg_site{
	background: url(../imgs/bg_gradiente_home.jpg) top center no-repeat;
}

.desc_home{
	overflow: hidden;
	height: 394px;
}

.btn_saiba_mais_produtos {
	font-size: 15px;
	color: #000;
	background: none;
	padding: 6px 20px;
	border: 2px solid #000;
}

.btn_saiba_mais_produtos:hover{
	background: #edeef0;
}

.btn_saiba_mais_produtos_dentro {
	font-size: 20px;
	color: #000;
	background: none;
	padding: 20px 60px;
	border: 2px solid #000;
}

.btn_saiba_mais_produtos_dentro:hover{
	background: #edeef0;
}

.servicos_home h1 {
	font-size: 20px;
	overflow: hidden;
	height: 29px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

.servicos_home p {
	font-size: 15px;
	font-weight: 400;
	overflow: hidden;
	height: 42px;
}

.servicos_home .thumbnail {
	border-radius: 0;
}

.depoimentos h2{
	font-size: 25px;
	color: #000;
	padding-bottom: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	background: url(../imgs/barra_pesonalizada.png) bottom no-repeat;
}

.depoimento_home{
	overflow: hidden;
	max-height: 166px;
}

.fundo_formulario input,
.fundo_formulario textarea {
	border: 0px;
	font-size: 15px;
	color: #575757;
}

.fundo_formulario p{
	font-size: 30px;
}


.btn_formulario{
	border-radius: 0;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #fff;
	padding: 15px 25px;
	background: #002953;
}
.btn_formulario:hover{
	background: #002248;
	color: #fff;
}




.fundo-form1{
	background: #d8d8d8;
}
/**
============================================
CSS CAROUCEL
============================================
*/
.slider-parceiros-clientes{
	height: 300px;
}

#carousel-example-generic-equipe .carousel-indicators,
.slider-parceiros-clientes .carousel-indicators{
	bottom: -10px;
}

#carousel-example-generic-equipe .carousel-indicators li,
.slider-parceiros-clientes  .carousel-indicators li{
	width: 20px;  /*retira bolinhas*/
	height: 20px;  /*retira bolinhas*/
	background: #000;
	opacity: 0.4;
	border: none;
	margin-right: 5px !important;
}

#carousel-example-generic-equipe .carousel-indicators .active,
.slider-parceiros-clientes .carousel-indicators .active{
	background: #000;
	opacity: 1;
	margin: 1px;
}

#carousel-example-generic-equipe .carousel-control.left,
#carousel-example-generic-equipe .carousel-control.right,
.slider-parceiros-clientes  .carousel-control.left,
.slider-parceiros-clientes  .carousel-control.right{
	background: none;
}


#carousel-example-generic-equipe .carousel-control.left,
.slider-parceiros-clientes .carousel-control.left{
	left: 420px;
	top: inherit;
	bottom: -11px;
	width:30px;
	height:30px;
	z-index: 100;
}


#carousel-example-generic-equipe .carousel-control.right,
.slider-parceiros-clientes .carousel-control.right{
	right: 420px;
	top: inherit;
	bottom: -11px;
	width: 30px;
	height: 30px;
	z-index: 100;
}

#carousel-example-generic-equipe .fa-chevron-left,
#carousel-example-generic-equipe .fa-chevron-right,
.slider-parceiros-clientes .fa-chevron-left,
.slider-parceiros-clientes .fa-chevron-right{
	font-size: 20px; /*retira setas*/
	color: #000;
}

.lista_parceiros_clientes h1{
	font-size: 25px;
	font-weight: 300;
	margin: 0;
	overflow: hidden;
	height: 29px;
}

.lista_parceiros_clientes p{
	font-size: 15px;
	font-weight: 400;
	overflow: hidden;
	height: 42px;
}

.lista_parceiros_clientes .thumbnail{
	border-radius: 0;
}


.lista_parceiros_produtos h1{
	font-size: 25px;
	font-weight: 300;
	margin: 0;
	overflow: hidden;
	height: 54px;
}

.lista_parceiros_produtos p{
	font-size: 15px;
	font-weight: 400;
	overflow: hidden;
	height: 82px;
}

.produtos_cat .thumbnail{
	margin-bottom: 10px;
}

.lista_parceiros_produtos .thumbnail{
	border-radius: 0;
}
.group4{
	z-index: 99999;
	cursor: -webkit-zoom-in;
}
/**
============================================
CSS CAROUCEL
============================================
*/

/**
============================================
HOME
============================================
*/

/*breadcrumb  branco*/
.breadcrumbs_branco .breadcrumb {
	font-size    :21px;
	background   : none;
	padding: 15px;
	margin-left: -52px;
	color: #fff;
}


.breadcrumbs_branco .breadcrumb i{
	border-radius: 50%;
	border       : 1px solid #fff;
	padding      :5px;
	color: #fff;
}

.breadcrumbs_branco .breadcrumb a i:hover{
	color: #444c69;
}

.breadcrumbs_branco .breadcrumb i:hover,
.breadcrumbs_branco .breadcrumb a:hover{
	color:#fff;
}

.breadcrumbs_branco .breadcrumb>.active {
	color: #fff;
}

.breadcrumbs_branco .breadcrumb a {
	text-decoration: none;
	outline        : none;
	display        : block;
	float          : left;
	font-size      : 20px;
	font-family: "Lato Bold";
	line-height    : 36px;
	color          : #fff;
	padding        : 0 10px 0 24px;
	position       : relative;
}

.breadcrumbs_branco .breadcrumb a:hover {
	color          : #fff;
}

.breadcrumbs_branco .breadcrumb a:after {
	content : '';
	position: absolute;
	top     : 7px;
	right : -10px;
	width : 20px;
	height: 20px;
	transform: scale(0.707) rotate(45deg);
	z-index: 1;
	box-shadow: 2px -2px 0 2px rgba(255, 255, 255, 0.1),
	2px -2px 0 1px rgba(255, 255, 255,1);
	border-radius: 0 5px 0 50px;
}

.breadcrumbs_branco .breadcrumb a:last-child:after {
	content: none;
}

.fornecedor_geral a{
	text-decoration: none;
}

.fornecedor_geral .thumbnail{
	padding: 25px 0 25px 0;
	min-height: 250px;
	-webkit-box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px -5px 7px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px -5px 7px 0px rgba(0, 0, 0, 0.35);
}

.fornecedor_geral img{
	width: 249px;
	height: 128px !important;
}

.fornecedor_geral .desc_titulo{
	width: 100%;
	overflow: hidden;
}

.fornecedor_geral h5{
	color: #002953;
	font-size: 18px;
	font-weight: 700;
}



		/**
		============================================
		ORCAMENTOS
		============================================
		*/
		.tabela_carrinho thead th{background:#d41f2b;padding:10px 5px;}
		.tabela_carrinho table{font-size:15px;color:#000;font-weight:400; height: 100px;}
		.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{font-size: 14px;vertical-align:middle;border-bottom:1px solid #444c69;padding:10px 5px;}
		.fa-times-circle::before{
			color:#002953;
			text-shadow:-1px 2px 2px #000000;

		}
		.bg_cinza{
			background: #eaeaea;
			overflow: hidden;
		}


		.tabela_carrinho h3,.fundo_formulario h3{
			color: #000;
			font-size: 25px;
			margin-bottom: 20	px;
			font-family: "Lato Bold";
		}

		.input-lista-prod-orcamentos {
			width: 40px;
			min-height: 36px !important;
			text-align: center;
			background: #444c69;
			color: #fff;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			font-size: 13px;
		}

		.carrinho_servcos{
			width: 46px;
			height: 32px	;
		}

		.borda .media{
			border-bottom: 1px solid #cccccc;
			padding-bottom: 14px;
			height: 79px;
			border-bottom: 1px solid #cccccc;
			padding-bottom: 14px;
			height: 79px;
		}



		.borda_home .media{
			border-bottom: 1px solid #cccccc;
			padding-bottom: 14px;
			max-height: 128px;
			width: 428px;
			padding-bottom: 14px;
			max-height: 128px;
			width: 428px;
		}

		.img_home_lojas {
			width: 421px;
		}
		.img_home_lojas {
			width: 421px;
		}

		.btn_topo{
			margin-top: 3px;
			padding: 23px 10px;
			cursor: pointer;
			position: relative;
			background: #1F7AA9;
			color: #fff;
		}

		.btn_topo img{
			width: 198px;
			height: 70px;
		}

		.topo-meu-orcamento{
			background:#fff;
			width:470px !important;
			margin-left: -274px;
			padding:15px;
		}


		.lista-itens-carrinho{
			margin: 10px 0px;
			overflow: hidden;
			margin-bottom: 20px;
		}

		.btn_topo_orcamento{
			border-radius: 0;
			font-size: 15px;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
			color: #fff;
			padding: 5px 15px;
			background: #1F7AA9;
		}

		.btn_topo_orcamento:hover{
			background: #002953;
			color: #fff;
		}




		.lista-itens-carrinho h1{
			font-size: 13px !important;
			margin: inherit;
		}


		/**
		============================================
		ORCAMENTOS
		============================================
		*/


		.fundo_formulario .form-control:focus{
			border-color: #414244;
		}

		.fundo_formulario .has-feedback .form-control {
			padding-left: 40px;
		}

		.form-inline .has-feedback .form-control-feedback {
			left: 0;
		}

		.telefone_contatos h2{
			color: #002953;
		}

		.fundo_formulario h3{
			font-size: 20px;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
			color: #000;
		}

		.fundo_formulario blockquote{
			padding: 2px 10px;
			margin: 0 0 0 14px;
			font-size: 17.5px;
			border-left: 9px solid #002953;
		}

		.fundo_formulario span{
			color: #002953;
		}
