@charset "utf-8";@import url('./fonts.css');*{margin:0;padding:0;text-decoration:none;}
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px;}
.top30{margin-top:30px;}
.top35{margin-top:35px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top120{margin-top:120px;}
.top120{margin-top:120px;}
.top170{margin-top:170px;}
.top175{margin-top:175px;}
.top195{margin-top:195px;}
.top240{margin-top:240px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left130{margin-left:130px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right130{margin-right:130px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt170{padding-top:170px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.container{max-width:480px;}
body{font-weight:400;font-family:'Lato', sans-serif;}

a:hover{
	text-decoration: none !important;
}

.input100{
	width: 100% !important;
}

.media-left,
.media-right,
.media-body {
	vertical-align: middle !important;
}

.relativo{
	position: relative;
}

input,
select,
textarea{
	min-height: 42px;
	color:#000;
	border-radius: 0 !important;
	font-size: 14px;
}


::-webkit-input-placeholder {
	color      : #000;
	font-family:"Lato Bold";
	font-size  : 15px;
}

:-moz-placeholder {
	color      : #000;
	font-family:"Lato Bold";
	font-size  : 15px;
}

::-moz-placeholder {
	color      : #000;
	font-family:"Lato Bold";
	font-size  : 15px;
}

:-ms-input-placeholder {
	color      : #000;
	font-family:"Lato Bold";
	font-size  : 15px;
}

.btn{
	border-radius: 0px;
}

.padding0{
	padding: 0px;
}

.fundo_formulario .fa{
	margin-top: 14px;
}

h1{
 font-size: 16px;
}

h1 span{

}


h2{
	font-size: 20px;
	color: #000;
	padding-bottom: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	background: url(../imgs/barra_personalizada.png) bottom left no-repeat;
}

h2 span{


}

h3 {
	font-size: 16px;
}

h3 span{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}




h4 {
	margin-top: 30px;
	font-size: 30px;
	color: #fff;
	font-family: "Lato Black";
	line-height: 21px;
	text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.75);
}

h4 span {
    margin: 0;
    font-size: 15px;
}




h5{
	font-size: 17px;
	color: #fff;
}

h5 span {
	font-size: 17px;
	color: #000;
}

h6 {

	/*font-weight  : 300;
	color          : #000;
	font-size      : 30px;
	text-decoration: underline: ;*/
}


h6 span{

}


p{
	font-weight: 300;
	font-size  : 15px;
	color      : #000;
	text-align : justify;
}

p span{
	font-family: 'Lato', sans-serif;
	font-weight: 900;

}



.font-futura{
	font-family: 'futura__condensed';
}
.lato_black{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

.lato_bold{
	font-family:"Lato Bold";
}

.MyriadPro_Regular{
	font-family: 'MyriadPro-Regular';
}

.div_personalizada{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}


.scrollup {
	width:65px;
	height:65px;
	opacity: 0.5;
	position: fixed;
	bottom: 50px;
	right: 30px;
	display: none;
	text-indent: -9999px;
	background: url(../imgs/seta_up.png) no-repeat;
	z-index: 9999;
}

#appearance-select{
	cursor: pointer;
	-webkit-appearance: none;  /* Remove estilo padrão do Chrome */
	-moz-appearance: none; /* Remove estilo padrão do FireFox */
	appearance: none; /* Remove estilo padrão do FireFox*/
	background: url(../imgs/arrow_drown.png) no-repeat #d7d6d7;  /* Imagem de fundo (Seta) */
	background-position: 218px center;  /*Posição da imagem do background*/
	width: 250px; /* Tamanho do select, maior que o tamanho da div "div-select" */
	height:57px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
	border:0px;
}

/**
============================================
topo
============================================
*/


.select-menu{
	background: url(../imgs/carrinho_topo.png) center no-repeat;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	height: 53px;
	width: 215px;
	margin-left: 0px;
	border: 0 !important;
}


.paginas{
	position: absolute;
	top: 0;
}
/**
============================================
topo
============================================
*/


/**
============================================
rodape
============================================
*/

.bg-fundo-preto{
	position: relative;
	background: #000;
}

.bg-fundo-preto p{
	color: #fff;
	font-weight: 700;
	padding: 10px 0px;
	text-align: center;
}

/**
============================================
rodape
============================================
*/



/**
============================================
carroucel
============================================
*/
.container_banner_faixa{
	width: 100%;
	height: 50px;
	background: url(../imgs/faixa-slider.png) top center no-repeat;
	position: absolute;
	bottom: -1px;
	z-index: 10;
}



/* Carousel base class */
.carroucel-home .carousel {
	height: 415px;
}
/* Since positioning the image, we need to help out the caption */
.carroucel-home .carousel-caption {
	text-align: left;
	z-index: 10;
	bottom: 0px;
}

/* Declare heights because of positioning of img element */
.carroucel-home .carousel .item {
	height: 415px;
}


.carroucel-home .carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 415px;
}

.carroucel-home{
	position: relative;
	margin-top: -1px;
}


.carroucel-home .carousel-caption {
	top:10px;
	right:0px;
	left: 0px;
}

.carroucel-home .carousel-indicators {
	position: absolute;
	bottom:  35px;
	left: 70%;
	z-index: 20;
	width: 22%;
}

.carroucel-home li{
	opacity: 0.5;
	width: 17px;
	height: 17px;
	margin: 3px !important;
	background: #fff;
	border: 0px;
}

.carroucel-home li.active{
	opacity: 1;
	width: 17px;
	margin: 3px !important;
	height: 17px;
	background: #fff;
	border: 0px;
}

.carroucel-home .carousel-control {
	opacity: 1;
	color: #fff;
	font-size: 30px;
	top: 353px;
	width: 0%;
	z-index: 999;
}

.carroucel-home{
	position: relative;
}
.carroucel-home span.fa-angle-right {
	right: 146px;
	color: #fff;
	font-size: 20px;
	width: 20px;
	position: absolute;
}

.carroucel-home span.fa-angle-left{
	left: 146px;
	color: #fff;
	font-size: 20px;
	width: 20px;
	position: absolute;
}

.carroucel-home .carousel-control:hover{
	color:#000;
	opacity:0.5;
}

/**
============================================
carroucel
============================================
*/

/**
============================================
HOME
============================================
*/
.bg_site{

	background: url(../imgs/bg_gradiente_home.jpg) top center no-repeat;
}

.desc_home{
	overflow: hidden;
	height: 335px;
}

.desc_home1{
	overflow: hidden;
	height: 194px;
}

.btn_saiba_mais_produtos {
	font-size: 15px;
	color: #000;
	background: none;
	padding: 6px 20px;
	border: 2px solid #000;

}

.btn_saiba_mais_produtos:hover{
	background: #edeef0;
}

.servicos_home h1 {
	font-size: 20px;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	font-weight: 900;

}

.servicos_home p {
	font-size: 15px;
	font-weight: 400;
	overflow: hidden;
	height: 42px;
}

.servicos_home .thumbnail {
	border-radius: 0;
}


.depoimentos h2{
	font-size: 20px;
	color: #000;
	padding-bottom: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	background: url(../imgs/barra_personalizada.png) bottom no-repeat;
}

.depoimento_home{
	overflow: hidden;
	max-height: 166px;
}

.fundo_formulario input,
.fundo_formulario textarea {
	border: 0px;
	font-size: 15px;
	color: #575757;
}

.fundo_formulario p{
	font-size: 20px;
	font-family:"Lato Bold";

}

.btn-formulario {
	padding: 19px 36px;
	background: #ffe51d;
	color: #000;
	font-size: 20px;
	border-radius: 0px;
	-moz-box-shadow: 0px 1px 4px #000000;
	-webkit-box-shadow: 0px 1px 4px #000000;
	box-shadow: 0px 1px 4px #000000;
}

.fundo-form1{
	background: #d8d8d8;
}
/**
============================================
CSS CAROUCEL
============================================
*/

.slider-parceiros-clientes{
	height: 230px;
}

#carousel-example-generic-equipe .carousel-indicators,
.slider-parceiros-clientes .carousel-indicators{
	bottom: -10px;
}

#carousel-example-generic-equipe .carousel-indicators li,
.slider-parceiros-clientes  .carousel-indicators li{
	width: 0px;  /*retira bolinhas*/
	height: 0px;  /*retira bolinhas*/
	background: #000;
	opacity: 0.4;
	border: none;
	margin-right: 5px !important;
}

#carousel-example-generic-equipe .carousel-indicators .active,
.slider-parceiros-clientes .carousel-indicators .active{
	background: #000;
	opacity: 1;
	margin: 1px;
}


#carousel-example-generic-equipe .carousel-control.left,
#carousel-example-generic-equipe .carousel-control.right,
.slider-parceiros-clientes  .carousel-control.left,
.slider-parceiros-clientes  .carousel-control.right{
	background: none;
}


#carousel-example-generic-equipe .carousel-control.left,
.slider-parceiros-clientes .carousel-control.left{
	left: -9px;
	top: 37%;
	bottom: inherit;
	width:30px;
	height:30px;
	z-index: 100;
}


#carousel-example-generic-equipe .carousel-control.right,
.slider-parceiros-clientes .carousel-control.right{
	right: -9px;
	top: 37%;
	bottom: inherit;
	width: 30px;
	height: 30px;
	z-index: 100;
}


#carousel-example-generic-equipe .fa-chevron-left,
#carousel-example-generic-equipe .fa-chevron-right,
.slider-parceiros-clientes .fa-chevron-left,
.slider-parceiros-clientes .fa-chevron-right{
	font-size: 20px; /*retira setas*/
	color: #000;
}

.lista_parceiros_clientes h1{
	font-size: 25px;
	font-weight: 300;
	margin: 0;
	overflow: hidden;
	height: 29px;
}

.lista_parceiros_clientes p{
	font-size: 15px;
	font-weight: 400;
	overflow: hidden;
	height: 42px;
}

.lista_parceiros_clientes .thumbnail{
	border-radius: 0;
}


.lista_parceiros_produtos h1{
	font-size: 25px;
	font-weight: 300;
	margin: 0;
	overflow: hidden;
	height: 54px;
}

.lista_parceiros_produtos p{
	font-size: 15px;
	font-weight: 400;
	overflow: hidden;
	height: 82px;
}

.produtos_cat .thumbnail{
	margin-bottom: 10px;
}

.lista_parceiros_produtos .thumbnail{
	border-radius: 0;
}
.group4{
	z-index: 99999;
	cursor: -webkit-zoom-in;
}
/**
============================================
CSS CAROUCEL
============================================
*/


/**
============================================
HOME
============================================
*/


#meu_menu_topo h4{
	color: #000;
	font-size: 20px;
}



/*breadcrumb  branco*/
.breadcrumbs_branco .breadcrumb {
	font-size    :21px;
	background   : none;
	padding: 15px;
	margin-left: -52px;
	color: #fff;
}


.breadcrumbs_branco .breadcrumb i{
	border-radius: 50%;
	border       : 1px solid #fff;
	padding      :5px;
	color: #fff;
}

.breadcrumbs_branco .breadcrumb a i:hover{
	color: #444c69;
}

.breadcrumbs_branco .breadcrumb i:hover,
.breadcrumbs_branco .breadcrumb a:hover{
	color:#fff;
}

.breadcrumbs_branco .breadcrumb>.active {
	color: #fff;
}

.breadcrumbs_branco .breadcrumb a {
	text-decoration: none;
	outline        : none;
	display        : block;
	float          : left;
	font-size      : 20px;
	font-family: "Lato Bold";
	line-height    : 36px;
	color          : #fff;
	padding        : 0 10px 0 24px;
	position       : relative;
}

.breadcrumbs_branco .breadcrumb a:hover {
	color          : #fff;
}

.breadcrumbs_branco .breadcrumb a:after {
	content : '';
	position: absolute;
	top     : 7px;
	right : -10px;
	width : 20px;
	height: 20px;
	transform: scale(0.707) rotate(45deg);
	z-index: 1;
	box-shadow: 2px -2px 0 2px rgba(255, 255, 255, 0.1),
	2px -2px 0 1px rgba(255, 255, 255,1);
	border-radius: 0 5px 0 50px;
}

.breadcrumbs_branco .breadcrumb a:last-child:after {
	content: none;
}


#myModal-telefone h5{
	color: #000;
}

.fornecedor_geral h5 {
	color: #002953;
	font-size: 15px;
	font-weight: 700;
}

.fornecedor_geral .thumbnail {
	padding: 25px 0 25px 0;
	min-height: 150px;
	-webkit-box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.35);
}

.fornecedor_geral .desc_titulo {
    width: 100%;
    overflow: hidden;
}

.titulo_interno h4 {
    font-size: 21px;
}

.btn_saiba_mais_produtos_dentro {
    font-size: 20px;
    color: #000;
    background: none;
    padding: 10px 30px;
    border: 2px solid #000;
}

.btn_formulario {
    border-radius: 0;
    font-size: 20px;
    font-family: "Lato Black";
    color: #fff;
    padding: 10px 20px;
    background: #002953;
}

.tabela_carrinho h3, .fundo_formulario h3 {
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Lato Bold";
}

.tabela_carrinho .table>tbody>tr>td, .tabela_carrinho .table>thead>tr>th {
    font-size: 12px;
    vertical-align: middle;
    border-bottom: 1px solid #444c69;
    padding: 10px 5px;
}

.input-lista-prod-orcamentos {
    width: 40px;
    min-height: 36px !important;
    text-align: center;
    background: #444c69;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 13px;
}
.fa-times-circle::before {
    color: #002953;
    text-shadow: -1px 2px 2px #000000;
}

.btn_cart,.btn_cart:focus,.btn_cart:focus{
	background: #fff;
	color: #3D8CB4;
	padding: 9px 12px;
	text-align: center;
	width: 40px;
	height: 40px;
}

.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
}


.lista-itens-carrinho h1{
	font-size: 12px !important;
}


.whatsappFixed{
    position: fixed;
    right: 0px;
    bottom: 30px;
  }